* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    color: rgb(236, 236, 241);
    background-color: #343541;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
}
footer {
    width: 100%;
}
footer form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
input {
    color: #ececf1;
    border-width: 0;
    outline: none;
}
button {
    border: none;
    color: rgb(236,236,241,0.5);
}
input, button, .from-user {
    background-color: rgba(0,0,0,0.25);
}
@media (max-width: 768px) {
    input {
	width: calc(100% - 2.25em);
    }
    button {
	margin-right: 1px;
    }
    input, button, .message {
	padding: 0.5em;
	font-size: 18px;
    }
}
@media (min-width: 768px) {
    input, button {
	margin: 1em;
    }
    button {
	margin-left: 0.125em;
    }
    input {
	margin-right: 0.125em;
	width: calc(100% - 5.5em);
    }
    input, button, .message {
	padding: 1em;
    }
}
.waiting {
    color: rgba(236,236,241,0.25);
}
.message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 1em;
}
.avatar {
    width: 1.75em;
    height: 1.75em;
    border-radius: 0.125rem;
    opacity: 0.75;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.from-user .avatar {
    background-color: purple;
}
.from-niall .avatar {
    background-color: green;
}
.from-user .avatar:before {
    content: "U";
}
.from-niall .avatar:before {
    content: "N";
}
