* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, #niall {
    height: 100%;
}
body {
    color: rgb(236, 236, 241);
    background-color: #343541;
    font-family: sans-serif;
}
#niall {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#niall .messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
}
#niall form {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#niall form input {
    color: #ececf1;
    border-width: 0;
    outline: none;
    width: 95vw;
}
#niall form button {
    width: 5vw;
    border: none;
    color: rgb(236,236,241,0.5);
}
#niall form input, #niall form button, .from-user {
    background-color: rgba(0,0,0,0.25);
}
@media (max-width: 768px) {
    #niall form input, #niall form button, .message {
	padding: 0.5em;
    }
}
@media (min-width: 768px) {
    #niall form input, #niall form button {
	margin: 1em;
    }
    #niall form input, #niall form button, .message {
	padding: 1em;
    }
}
.waiting {
    color: rgba(236,236,241,0.25);
}
.message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 1em;
}
.avatar {
    width: 1.75em;
    height: 1.75em;
    border-radius: 0.125rem;
    opacity: 0.75;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.from-user .avatar {
    background-color: purple;
}
.from-niall .avatar {
    background-color: green;
}
.from-user .avatar:before {
    content: "U";
}
.from-niall .avatar:before {
    content: "N";
}
